<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="app/Images/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
    </a>
    <ul class="navbar-nav flex-row ms-auto">
      <li class="nav-item px-2">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" [routerLink]="['/newuser']" routerLinkActive="active">Nuevo Usuario</a>
      </li>
    </ul>
  </div>
</nav>